/**************************************
                FOOTER
**************************************/

.footer{
    padding:50px 0;
    background-color: rgb(16, 23, 31);
    margin-top: 10%;   
}

.footer-wrapper{  
    width: 80%;
    height: auto;
    margin: auto;
}

.footer-wrapper-inner{
    display: flex;
    text-align: center;
    margin: auto;
    flex-direction: row;  
}

.footer-item{
    flex: 1;
    padding: 50px;
    color: #D3D3D3;   
}

.footer-item h2{
    text-transform: uppercase;
}

.footer-item:nth-child(2){
    border-left: 3px solid #595f72;
    border-right: 3px solid #595f72;
}

.footer-item:nth-child(3) li{
    display: inline-block;
}

.footer-item ul{
    list-style: none;
}

.footer-item li a{
    font-size: 40px;
    padding: 10px;
    text-decoration: none;
    color: #595f72;
}

.footer-item li a:hover{
    color: #acc3a6;
}